[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
	branch = v6.0
[submodule "themes/hugo-loremipsum"]
	path = themes/hugo-loremipsum
	url = https://github.com/martignoni/hugo-loremipsum.git
